/*navbar*/

.navbar-default {
	  background-color: #F5F0E7;
}

.navbar-default .navbar-brand {
	color: #748F80;
	font-weight: bold;
}



/*login page*/


body{
	background-image: url(Img/sfondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


 header {
 	position: relative;
	padding-top: 20px;
	text-align: center;
	color: white;
	font-family: Helvetica Neue;
}

/* base login */

.Allcontenuto{
	padding-top: 20px;
	margin: auto;
	margin-top: 10vh;
	width: 410px;
	height: 450px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	/*background-image: url(http://127.0.0.1/progetto/img/Schermatafiltro.jpg);*/
}
/*background: url(img/Schermatafiltro.jpg) no-repeat;*/




.cruz{
	text-align: center;
	color: white;
	font-family: Helvetica Neue;
	padding-top: 20px;

}

.cruz p{
	margin: 0;
}



.login ul{
	margin: 15% 10% 0 0;
	list-style-type: none;
	text-align: center;
}


input{
	margin-top: 5%;
	width: 250px;
    height: 45px;
	padding: 0;
    border: 0;
    border-radius: 5px;
}


/*colore placeholder*/
::-webkit-input-placeholder{
	color: #748F80;
	font-size: 15px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 20px;
}

/* tasto login */
.button{
	text-align: center;
	text-decoration: none;
	background-color: rgba(245, 116, 116, 100);
	color: white;
    font-size: 15px;
    font-weight: bold;
}


/* scritta sotto login */
.termini{
	color: white;
	font-family: Helvetica Neue;
	text-align: center;
}

#riga1{
	margin: 10% 10% 0% 15%;
	font-size: 60%;
}

#riga2{
	margin: 0% 20% 0% 20%;
	font-size: 60%;
}

#dimenticata{
	color: white;
	font-family: Helvetica Neue;
	margin: 10px 0 0 0;
	padding: 0;
}





