/*navbar*/


hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-collapse {
		border-bottom: 1px solid #E6E5E5;


}

.navbar {
	border-bottom: 1px solid #E6E5E5;
	padding-bottom: 0px;
	margin-bottom: 0px;

}




.navbar-header {
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.navbar-brand {
    margin-left: 0px !important;
    padding-left: 30px !important;
    padding-right: 20px !important;
    color: #748F80 !important;
}



.navbar-nav > li > a {
	color: #748F80 !important;
}

@media (min-width: 768px) { 
    .twoRow .navbar-collapse {
        clear: left;
    }
}

.navbar-collapse {
	width: 100%;
	position: fixed-top;
	background-color: #F5F0E7;
  padding-right: 20px !important;
  padding-left:20px !important;
}



.twoRow {
  margin-top: 52px;

}






.btn-default {
 margin-top: 8px;
}




.navbar-nav:hover,
.navbar-nav:focus  > li > a {
	color: #F57474 !important;
}

.btn-default {
    color: #fff !important;
    background-color: #F57474 !important;
    border-color: #F57474 !important;    
    padding-left: 30px;
    padding-right: 30px;

}


.btn-default:hover,
.btn-default:focus {
  color: #F57474 !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border-color: #F57474 !important;

}


.dropdown-menu > li > a {
	color: #748F80 !important;

}
.dropdown-menu > li > a:hover {
	color: #F57474 !important;

}




.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #748F80;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}


/*modal*/
.btn-secondary {
	  color: #fff !important;
    background-color: #F57474 !important;
    border-color: #F57474 !important;    
    padding-left: 30px;
    padding-right: 30px;
}

.modal-title {
	color: #748F80
}


.container-modal {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right:20px; 
  padding-left:20px
}




.modal-footer {
  padding-right: 5px;
  padding-left: 5px;
}




/*content lista*/


.container-fluid {
	background-color: #FDFCF9;


}


.row {
    margin-right: 10px;
    margin-left: 10px;
}

.content-img {
	position: relative;

}






.panel-default > .panel-heading {
    height: 50px;
    border-bottom: none;
}

.panel-default > .panel-body {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.panel-default{
	 	margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
}


.panel-danger {
  border-color: #ddd;
}

.panel-danger {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 10px; 
}

.panel-danger > .panel-heading {
    height: 30px;
    border-bottom: none;
}

.panel-danger > .panel-body {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}



.caratteristiche-titolo {
	font-family: helvetica neue;
	color: #748F80;
  margin-bottom: 5px;
  margin-top: 5px;

}


.caratteristiche-titolo-info {
  font-family: helvetica neue;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 5px;

}

.text-style {
	font-family: helvetica neue;
	color: #748F80;
	font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

.panel-heading {
	background-color: white !important;
	position: relative;

}


.img-circle {
	  min-height: 10px;
    position: absolute;
    left: 3%;
    top: 0%;
    display: inline-block;
	  height: auto;
	  max-width: 100%;
	  padding: 4px;
	  line-height: 1.428571429;
	  background-color: #ffffff;
	  border: 1px solid #dddddd;
	
	  -webkit-transition: all 0.2s ease-in-out;
	          transition: all 0.2s ease-in-out;
	   
}

/*content sala*/


.container-esterno {
  margin-top: 50px;
}

.panel-success {
  border-color: #ddd;
}


.panel-success {
	 	margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
    border-color: #ddd;
}

.panel-success > .panel-heading {
  height: 50px;
  background-color: white;
  border-bottom: #ddd;
  
}




.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}


.panel-success > .panel-body {
  height: 600px;
}


.btn-primary {
	color: #fff;
 	background-color: #748F80;
 	border-color: #748F80 ;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #Fff !important;
  text-decoration: none !important;
  background-color: #528066 !important;
  border-color: #748F80 !important;

}


.btn-info {
  background-color: #748F80;
}


/*form search*/
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
 #custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
#custom-search-input + .btn-danger {
  border: 0;
  background: none;
        /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}
 
.search-query:focus + .btn-danger {
   z-index: 3;   
}

.btn-danger {
	color: #fff;
 	background-color: #748F80;
 	border-color: #748F80 ;

}

.btn-danger:hover,
.btn-danger:focus {
  color: #Fff !important;
  text-decoration: none !important;
  background-color: #528066 !important;
  border-color: #748F80 !important;

}

.form-control {
    margin-top: 0px;
}



.glyphicon-search:before {
    color: white;
}


/* lista eventi*/



.panel-warning {
	border-color: #ddd;
}

.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-bottom-color: #ddd !important;
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd !important;

}

.panel-title > a {
    font-size: 14px;
    font-family: helvetica;
    color: #748F80;
  }

.panel-title > a:hover
.panel-title > a:focus {
    font-size: 14px;
    font-family: helvetica;
    color: #748F80;
    text-decoration: none !important;
 }

/*.navbar-default .navbar-nav > li > a {
    color: #748F80;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}*/


/*footer*/


.footer {
  border-top: 1px solid #E6E5E5;
  padding-top: 10px;
  margin-top: 20px;
  color: #748F80;
  background-color: #F5F0E7;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.text-footer {
	color: #748F80;
}


/*calendar*/



.fc {
  direction: ltr;
  text-align: left;
  }
  
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  
html .fc,
.fc table {
  font-size: 1em;
  }
  
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
  }

  .fc-left {
    color:#748F80;

  }

  .popup-text-custom {
    display: none; 
    position: fixed; 
    top: 300px; 
    right: 300px; 
    background-color: 
    red; z-index: 1400
  }






/* Header
------------------------------------------------------------------------*/

.fc-header td {
  white-space: nowrap;
  }

.fc-header-left {
  width: 25%;
  text-align: left;
  }
  
.fc-header-center {
  text-align: center;
  }
  
.fc-header-right {
  width: 25%;
  text-align: right;
  }
  
.fc-header-title {
  display: inline-block;
  vertical-align: top;
  }
  
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  }
  
.fc .fc-header-space {
  padding-left: 10px;
  }
  
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  }
  
/* buttons edges butting together */

.fc-header .fc-button {
  margin-right: -1px;
  }
  
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
  margin-right: 0; /* back to normal */
  }
  
/* button layering (for border precedence) */
  
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
  }
  
.fc-header .fc-state-down {
  z-index: 3;
  }

.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
  }
  
  
  
/* Content
------------------------------------------------------------------------*/
  
.fc-content {
  clear: both;
  zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
  }
  
.fc-view {
  width: 100%;
  overflow: hidden;
  }
  
  

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
  border: 1px solid #ddd;
  }
  
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
  background: #fcfcfc;
  }
  
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
  background: #bcccbc;
  opacity: .3;
  filter: alpha(opacity=30); /* for IE */
  }
  


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;


  cursor: pointer;
  background-color: #748F80;
}


.fc-text-arrow {

  font-size: 2em;
  font-family: "Helvetica neue";
  vertical-align: baseline; /* for IE7 */
  }


  
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/


.fc-state-default {
  background-color: #748F80;
  text-shadow: none;
  border-color: none !important;
  background-repeat: repeat-none !important;
  }

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #fff;
  background-color: #748F80;
  }

.fc-state-hover {
  color: #fff;
  text-decoration: none;

  }

.fc-state-down,
.fc-state-active {
  background-color: #748F80;
  background-image: none;
  outline: 0;
  }

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.55;
  filter: alpha(opacity=65);
  box-shadow: none;
  }

  

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
  z-index: 8;
  }

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
  }
   
.fc-event {
  border: 1px solid #F57474; /* default BORDER color */
  background-color: #F57474; /* default BACKGROUND color */
  color: #fff;               /* default TEXT color */
  font-size: .85em;
  cursor: default;
  }

a.fc-event {
  text-decoration: none;
  }
  
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
  }
  
.fc-rtl .fc-event {
  text-align: right;
  }

.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  }
  
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden; /* hacky spaces (IE6/7) */
  font-size: 300%;  /* */
  line-height: 50%; /* */
  }
  
  
  
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
  }

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  }

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  }
  
/* resizable */
  
.fc-event-hori .ui-resizable-e {
  top: 0           !important; /* importants override pre jquery ui 1.7 styles */
  right: -3px      !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
  }
  
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px       !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
  }
  
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px; /* IE6 had 0 height */
  }
  

table.fc-border-separate {
  border-collapse: separate;
  }
  
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
  }
  
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
  }
  
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
  }
  
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
  }
  
  

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
  text-align: center;
  }

.fc .fc-week-number {
  width: 22px;
  text-align: center;
  }

.fc .fc-week-number div {
  padding: 0 2px;
  }
  
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
  }
  
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30); /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
  }
  
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px; /* distance between events and day edges */
  }
  
/* event styles */
  
.fc-grid .fc-event-time {
  font-weight: bold;
  }
  
/* right-to-left */
  
.fc-rtl .fc-grid .fc-day-number {
  float: left;
  }
  
.fc-rtl .fc-grid .fc-event-time {
  float: right;
  }
  
  

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
  border-collapse: separate;
  }
  
.fc-agenda-days th {
  text-align: center;
  }
  
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
  }

.fc-agenda .fc-week-number {
  font-weight: bold;
  }
  
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
  }
  
/* make axis border take precedence */
  
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
  }
  
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
  }
  
/* all-day area */
  
.fc-agenda-allday th {
  border-width: 0 1px;
  }
  
.fc-agenda-allday .fc-day-content {
  min-height: 34px; /* TODO: doesnt work well in quirksmode */
  _height: 34px;
  }
  
/* divider (between all-day and slots) */
  
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
  }
  
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
  }
  
/* slot rows */
  
.fc-agenda-slots th {
  border-width: 1px 1px 0;
  }
  
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
  }
  
.fc-agenda-slots td div {
  height: 20px;
  }
  
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
  }

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
  }
  
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid; /* doesn't work with background in IE6/7 */
  }
  


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
  border-width: 0 1px;
  }

.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  }

.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  }
  
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
  }

.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
  }
  
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
  }
  
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
  display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
  }
  
/* resizable */
  
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  }
  
  





















/* LOGIN PAGE */





.page-login {
	background-image: url(../../img/sfondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}


.page-login header {
 	position: relative;
	padding-top: 20px;
	text-align: center;
	color: white;
	font-family: Helvetica Neue;
	font-size: 10px;
}




/* base login */

.Allcontenuto{
	position: relative;
	margin: auto;
	margin-top: 10vh;
	width: 400px;
	height: 490px;
	border-radius: 10px;
	background-image: url(../../img/Schermatafiltro.jpg);
	background-size: cover;
	background-position: top;
}

.cruz{
	text-align: center;
	color: white;
	font-family: Helvetica Neue;
}

.cruz p{
	margin: 0;
}

.pro{
	padding-top: 10%;
}


#circle {
	position: absolute;
	margin-top: -7%;
	width: 60px;
	height: 60px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left:42%;
}

#asterisco{
  font-size: 250%;
  margin: 20% 0 0 0;
  padding-left: 21%;
}


.fb-login {
  text-align: center;
  margin-top: 1em;
}

.fb-logo{
   border-radius: 5px;
}

.fb-login {
  text-align: center;
  margin-top: 1em;
}

.fb-logo{
   border-radius: 5px;
}

.login ul{
	margin: 0 10% 0 0;
	list-style-type: none;
	text-align: center;
}


input{
	margin-top: 4%;
	width: 230px;
  height: 45px;
	padding: 0 0 0 1em;
  border: 0;
  border-radius: 5px;
}


/*colore placeholder*/
::-webkit-input-placeholder{
	color: #748F80;
	font-size: 13px;
	font-weight: bold;
}

/* tasto login */
.bottonelog{
	margin-bottom: 10px;
	text-decoration: none;
	background-color: rgba(245, 116, 116, 100);
	color: white;
    font-size: 100%;
    font-weight: bold;
}


/* scritta sotto login */
.termini{
	color: white;
	font-family: Helvetica Neue;
	text-align: center;
}

#riga1{
	margin: 10% 10% 0% 15%;
	font-size: 60%;
}

#riga2{
	margin: 0% 20% 0% 20%;
	font-size: 60%;
}

#dimenticata{
	font-weight: lighter;
	color: white;
	font-family: Helvetica Neue;
}


.fondo-pagina{
	width: 100%;
	color: white;
	font-size: 10px;
	text-align: center;
	padding: 7% 0 0 44.5%;
  bottom: 20px;
  position: fixed;
}
.privacy {
	float: left;
  margin: 0;
}


.link-img{
  position: absolute;
}





.stat{
  float: right;
  margin: 0 0 10px 10px;
}







.img_nav{
  margin: 5px 30px 0 0;

}










