{% extends "::login.html.twig" %}



{% block body %}

<div class="page-login">
  <header>
    <strong> CRUZpro  </strong> utilizza i cookie per offrirti la migliore esperienza possibile. <strong> Ulteriori info </strong>Ok!
  </header>

    <div class="form Allcontenuto">
      <div id="circle">
        <span class="glyphicon glyphicon-asterisk" id="asterisco" style="color: #748F80; font-size: 250%; margin: 20% 0 0 0; padding-left: 21%;"> </span>
      </div>
     <form class="login" name="login" action="{{asset('/user')}}" method="get" accept-charset="utf-8" novalidate>

     <div class="cruz">
      <p class="pro" style="font-size: 30px"> CRUZ.pro</p>
      <p style="font-size: 17px">Prenota la tua sala riunioni</p>
      <p style="font-size: 10px">powered by SF</p>
     </div>
        <div class="fb-login">
          <img src="img/facebook.jpg" class="fb-logo">
        </div>
        <ul>

          <hr/>

          <li> <input class="mailbox" id="mailbox" type="email" name="usermail" placeholder="Email Aziendale" required > </li>
          <li> <input class="password" id="password" type="password" name="password" placeholder= "Password"required> </li>
          <li> <input class="bottonelog" type="submit" value="Login"> </li>

          <input value="user" name="" type="hidden">

            <a href=""id="dimenticata">Password dimenticata?</a>

        </ul>
      <div class="termini">
        <p id="riga1">Creando un account, accetti i Termini di servizio, le Norme sulla</p>
        <p id="riga2">privacy e l'utilizzo dei cookie di CRUZpro.</p>
      </div>
       </form>
</div>
<div class="fondo-pagina">
       <p class="privacy">Privacy e Termini</p> <p class="privacy"> &nbsp &nbsp &nbsp Info e Contatti</p>
</div>

{% endblock %}
