

<!-- modal modifica utente -->


    
<div class="container-modal ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
      <h4 class="modal-title" id="gridSystemModalLabel">Modifica profilo</h4>
  </div>



  <div class="modal-body">

    

    <div class="row content-img">
        <div class="col-xs-offset-1 col-md-offset-1 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
          </div>
        </div>
      <img src="img/harper.jpg" alt="harper reed" class="img-circle">
    </div>

    <hr>

    <form>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Nome:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="Harper">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Cognome:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="Reed">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Nascita:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="12/04/1975">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">e-Mail:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="Harper_reed@cruzpro.com">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">e-Mail:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="Harper_reed@cruzpro.com">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Telefono:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="+393485678987">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Password:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="..........">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="control-label">Conferma Password:</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="..........">
      </div>
    </form>




  </div>


<div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-secondary btn-xs">Salva modifiche</button>
      </div>
 




    </div>
